h1 {
    color: black;
    background-color: rgb(216, 216, 216);
}
body {
    background-color: rgb(255, 255, 255);
    margin: 2cm;
}
.places {
    font-style: italic;
}
li{
    color: darkblue;
}
.famphoto
{
    float: right;
    width: 400;
    height: 300;
}
.aboutme
{
    font-size: 50px;
    font-style: italic;
    font-family: cursive;
    margin-bottom: 0%;
}